*,
*::before,
*::after {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-size: 0.98rem;
  font-weight: 300;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.dashPanel-section {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  background-color: #e8edff;
}

.dashPanel-left {
  background-color: #20263a;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 16%;
}

.dashPanel-logo-sec {
  display: grid;
  place-items: center;
  margin-top: 3em;
}

.dashPanel-logo-text {
  color: white;
  font-size: 1.1rem;
}

.dashPanel-left-ul {
  margin-left: 1.5em;
}

.dashPanel-left-tag {
  display: flex;
  align-items: center;
  border-radius: 10px 0px 0px 10px;
  background-color: #1a1f30;
  padding: 1.1em 2em;
  margin-bottom: 1.5em;
  color: white;
  font-size: 0.85rem;
}

.dashPanel-left-img {
  margin-right: 0.9em;
}

.dashPanel-left-btn {
  width: 100%;
  padding: 1em;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ef5f53;
  background-color: white;
}

.dashPanel-left-btn-img {
  margin-left: 0.3em;
}

.dashPanel-right {
  width: 84%;
  min-height: 100%;
  padding: 1em 3em;
  display: flex;
  flex-direction: column;
}

.dashPanel-right-header {
  width: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  margin-bottom: 1.5em;
}

.dashPanel-right-greeting-sec {
  display: flex;
}

.dashPanel-right-greeting {
  margin-right: 0.5em;
  color: black;
  font-size: 1.3rem;
}

.dashPanel-right-userInfo-sec {
  display: flex;
  height: auto;
  align-items: center;
  justify-content: space-around;
  padding: 0.5em 1em;
  background-color: white;
  border-radius: 10px;
}

.dashPanel-right-userInfo {
  display: flex;
  flex-direction: column;
  margin-right: 0.5em;
}

.dashPanel-right-userInfo-name {
  color: black;
  margin-bottom: 0.2em;
  font-size: 0.8rem;
  font-weight: 600;
}

.dashPanel-right-userInfo-email {
  font-size: 0.65rem;
  font-weight: 500;
}

.dashPanel-right-firstRow {
  margin-bottom: 2em;
  display: grid;
  grid-template-columns: 70% 30%;
}

.dashPanel-right-lineChart {
  background-color: white;
  padding: 1em 0.5em 1em 0em;
  border-radius: 12px;
}

.dashPanel-right-pieChart-sec {
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 12px;
}

.dashPanel-right-pieChart-colors-sec {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: auto;
  margin: 0 auto;
  column-gap: 1.5em;
}

.dashPanel-right-pieChart-color-sec {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: flex-start;
}

.dashPanel-right-pieChart-color {
  background-color: #f7cc01;
  width: 0.8em;
  height: 0.8em;
  border-radius: 50%;
  margin-right: 0.1em;
}

.dashPanel-right-pieChart-color-text{
  font-size: 0.6rem;
  font-weight: 700;
}

.dashPanel-right-secondRow {
  display: grid;
  grid-template-columns: 70% 26%;
  column-gap: 4%;
  margin-bottom: 1.5em;
}

.dashPanel-right-table {
  background-color: white;
  border-radius: 12px;
  width: 100%;
  height: 100%;
}

.dashPanel-right-table-sec{
  display: flex;
  flex-direction: column;
}

.dashPanel-right-table-th {
  font-weight: 800;
}

.dashPanel-right-table-td{
  height: 2em;
  /* border: 1px solid red; */
}

.dashPanel-right-table-pagination{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dashPanel-right-table-page-btn{
  padding: 1em;
  width: 1.5em;
  height: 1.5em;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0em 1em;
  font-size: 0.7rem;
  font-weight: 600;
  border-radius: 3px;
  background-color: white;
  line-height: 0;
  border: 1px solid transparent;
}

.dashPanel-right-table-page-btn:hover{
  border: 1px solid black;
}

.dashPanel-right-profile-sec {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  border-radius: 12px;
}

.dashPanel-right-profile-img {
  width: 100%;
  border-radius: 12px 12px 0 0;
  height: min-content;
  margin-bottom: 1em;
}

.dashPanel-right-profile-name {
  font-size: 1rem;
}

.dashPanel-right-profile-position {
  font-size: 0.8rem;
}

.dashPanel-right-profile-social-sec {
  display: flex;
  width: 55%;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1em;
}
